# Ignore node_modules directory
node_modules/

# Ignore Cypress downloads
cypress/downloads/

# Ignore Cypress screenshots
cypress/screenshots/

# Ignore Cypress videos
cypress/videos/

# Ignore environment variable files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore configuration files
cypress.json
cypress.env.json

# Prettier configuration files
.prettierrc
.prettierignore

# Local Prettier cache
.prettiercache
